[Unit]
Description=Browsepy file manager
After=network.target

[Service]
User=pistomp
ExecStart=/opt/pistomp/venvs/browsepy/bin/browsepy 0.0.0.0 8081 --directory /home/pistomp/data/user-files --upload /home/pistomp/data/user-files
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
