[Unit]
Description=First Boot Initialization
Before=jack.service
ConditionPathExists=/boot/firstboot.sh

[Service]
Type=oneshot
ExecStart=/boot/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
