[Unit]
Description=TouchOSC to MIDI bridge
Requires=mod-amidithru.service jack.service
After=mod-amidithru.service jack.service network-online.target

[Service]
User=pistomp
ExecStart=/bin/sh /usr/mod/scripts/start_touchosc2midi.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
