[Unit]
Description=MOD Host - LV2 plugin host
Requires=jack.service
After=jack.service

[Service]
User=pistomp
Type=forking
Environment="JACK_PROMISCUOUS_SERVER=jack"
Environment="LV2_PATH=/home/pistomp/.lv2:/usr/lib/lv2"
ExecStartPre=-/usr/bin/lcd-splash /usr/share/pistomp/splash.rgb565 "Starting plugin host"
ExecStart=/usr/bin/chrt -f 65 mod-host -p 5555 -f 5556
LimitRTPRIO=95
LimitMEMLOCK=infinity
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
