[Unit]
Description=MOD Web UI
Requires=mod-host.service browsepy.service
After=mod-host.service browsepy.service

[Service]
User=pistomp
# Wait for mod-host to be ready before starting
ExecStartPre=-/usr/bin/lcd-splash /usr/share/pistomp/splash.png "Starting web interface"
ExecStartPre=/usr/local/bin/wait-for-mod-host.sh
Environment="LV2_PATH=/home/pistomp/.lv2:/usr/lib/lv2"
Environment="MOD_DEV_ENVIRONMENT=0"
Environment="MOD_DEVICE_WEBSERVER_PORT=80"
Environment="MOD_HOST_PORT=5555"
Environment="MOD_HOST_FEEDBACK_PORT=5556"
Environment="MOD_LOG=0"
Environment="MOD_DATA_DIR=/home/pistomp/data"
Environment="MOD_USER_PEDALBOARDS_DIR=/home/pistomp/data/.pedalboards"
Environment="MOD_USER_FILES_DIR=/home/pistomp/data/user-files"
Environment="MOD_KEYS_PATH=/home/pistomp/data/keys/"
Environment="MOD_CLOUD_API=https://api.moddevices.com/v2"
Environment="MOD_HTML_DIR=/opt/pistomp/mod-ui/html"
Environment="MOD_DEFAULT_PEDALBOARD=/opt/pistomp/mod-ui/default.pedalboard"
Environment="PATCHSTORAGE_API_URL=https://patchstorage.com/api/beta/patches"
Environment="PATCHSTORAGE_PLATFORM_ID=8046"
Environment="PATCHSTORAGE_TARGET_ID=8280"
Environment="JACK_PROMISCUOUS_SERVER=jack"
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/opt/pistomp/venvs/mod-ui/bin/mod-ui
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
