[Unit]
Description=pi-stomp application
Requires=jack.service mod-host.service mod-ui.service
After=jack.service mod-host.service mod-ui.service
OnFailure=pistomp-recovery.service

[Service]
User=pistomp
Environment="JACK_PROMISCUOUS_SERVER=jack"
WorkingDirectory=/home/pistomp
ExecStartPre=-/usr/bin/lcd-splash /usr/share/pistomp/splash.rgb565 "Loading pedalboard"
ExecStart=/opt/pistomp/venvs/pi-stomp/bin/python /opt/pistomp/pi-stomp/modalapistomp.py
TimeoutStopSec=5
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitIntervalSec=180
LimitMEMLOCK=infinity
LimitRTPRIO=64

[Install]
WantedBy=multi-user.target
