[Unit]
Description=ALSA MIDI Thru
Requires=jack.service
After=jack.service

[Service]
User=pistomp
Environment="JACK_PROMISCUOUS_SERVER=jack"
ExecStart=/usr/bin/amidithru touchosc
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
