[Unit]
Description=piStomp LCD boot splash
DefaultDependencies=no
After=dev-spidev0.0.device
Requires=dev-spidev0.0.device
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/lcd-splash /usr/share/pistomp/splash.rgb565 "Starting..."
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
