[Unit]
Description=piStomp LCD boot splash
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/lcd-splash /usr/share/pistomp/splash.png "Starting..."
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
