[Unit]
Description=ZRAM compressed swap
DefaultDependencies=no
Before=jack.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/zram-start.sh
ExecStop=/usr/local/sbin/zram-stop.sh

[Install]
WantedBy=multi-user.target
